<div class="contents row">
  <% @movies.each do |movie| %>
    <div class="content_post" style="background-image: url(<%= movie.image %>);">
      <p class="title"><%= movie.title %></p>
      <div class="genre_id">
        <%= movie.genre_id %>
      </div>
      <div class="evaluation_id">
        <%= movie.genre_id %>
      </div>
    </div>
  <% end %>
</div>
        